
<%- include("partials/header.ejs") %>
<!-- HERO -->
<img src="/images/musum.jpg" class="img-fluid" alt="" />
<section class="container">
  <div class="text-center">
    <div>
      <h1 class="mt-4 mb-3">Welcome to The MET</h1>
      <h3>
        Travel around the world and across 5,000 years of history through
        490,000+ works of art
      </h3>
    </div>
  </div>
</section>

<!-- Visit Section -->
<section class="visit-section">
  <div class="times">
    <ul>
      <li><h2 id="visit">Visit us</h2></li>
      <hr class="visit-hr" />
      <div class="times-list fs-5">
        <li>Free entry</li>
        <li>Open daily 10am - 6pm</li>
        <li>1000 Fifth Avenue</li>
        <li>82nd Street</li>
        <li>New York, NY, 10028</li>
        <a
          href="https://www.google.com/maps/place/Metropolitan+Museum+of+Art/@40.7794366,-73.9658189,17z/data=!3m2!4b1!5s0x89c25896e10b5523:0x6c1168e355509b8b!4m6!3m5!1s0x89c25896f660c26f:0x3b2fa4f4b6c6a1fa!8m2!3d40.7794366!4d-73.963244!16zL20vMDljN2I?entry=ttu"
          target="_blank"
          class="btn btn-light"
          >Directions</a
        >
      </div>
    </ul>
  </div>

  <img src="/images/visit.jpg" class="visit-img" alt="" />
</section>

<!-- Art departments section -->
<section class="container ">

    <h2 class="mb-4">Browse the gallery</h2>
    <form action="/submit" method="POST">

      
      <div class="row">
        <div class="col-3">
            <div class="department-card " >
               <button class="depChoice"  type="submit" value="3" name="departmentChoice"> 
              <img src="/images/near-eastern.jpg" alt="picture of native american statue"width="270" height="170">
              <h4  class="mt-2 mb-4"  >Ancient Near Eastern Art</h4></button>
            </div>
          </div>
          <div class="col-3">
            <div class="department-card" >
               <button class="depChoice" type="submit" value="4" name="departmentChoice">
              <img src="/images/arms and armor.jpg" alt="some armor"width="270" height="170" >
             <h4 class="mt-2 mb-4">Arms and Armor</h4></button>
            </div>
          </div>
          <div class="col-3">
            <div class="department-card" >
              <button class="depChoice" type="submit" value="6" name="departmentChoice">
              <img src="/images/Asian Art.jpg" alt="statues of Buddha from Thailand" width="270" height="170">
              <h4 class="mt-2 mb-4">Asian Art</h4> </button>
            </div>
          </div>
          <div class="col-3">
            <div class="department-card ">
              <button class="depChoice" type="submit" value="7" name="departmentChoice">
              <img src="/images/cloisters.jpg"  alt="stained glass windows" width="270" height="170" >
               <h4 class="mt-2 mb-4">The Cloisters</h4> </button>
            </div>
          </div>
          <div class="col-3">
            <div class="department-card ">
              <button class="depChoice" type="submit" value="8" name="departmentChoice">
              <img src="/images/costumes.jpg"  alt="costumes from around the world" width="270" height="170" >
               <h4 class="mt-2 mb-4">Costumes</h4> </button>
            </div>
          </div>
          <div class="col-3">
            <div class="department-card ">
              <button class="depChoice" type="submit" value="9" name="departmentChoice">
              <img src="/images/drawings.jpg"  alt="a drawing of two hands" width="270" height="170" >
               <h4 class="mt-2 mb-4">Drawings and Prints</h4> </button>
            </div>
          </div>
          <div class="col-3">
            <div class="department-card ">
              <button class="depChoice" type="submit" value="10" name="departmentChoice">
              <img src="/images/Egyptian Art.jpeg"  alt="picture of Egyptian pharaoh coffin" width="270" height="170" >
               <h4 class="mt-2 mb-4">Egyptian Art</h4> </button>
            </div>
          </div>
          <div class="col-3">
            <div class="department-card ">
              <button class="depChoice" type="submit" value="11" name="departmentChoice">
              <img src="/images/European Paintings.jpg"  alt="Europeanpaintings" width="270" height="170" >
               <h4 class="mt-2 mb-4">European paintings</h4> </button>
            </div>
          </div>
        </div>
      </form>

</section>
<!-- <% if(locals.content){ %>
    <% content.filter(element => element.primaryImage).forEach(element => { %>
        <img src="<%= element.primaryImage %>"  width="200">
        <h3>
            <%= element.title %>
        </h3>
        <h4>
            <%= element.artistDisplayName %>
        </h4>
        <h4>            
            <%= element.artistDisplayBio %>
        </h4>
        <h4>
            <%= element.objectDate %>
            
        </h4>
        
        <% }); %>
        <% } %> -->


<%- include("partials/footer.ejs") %>
