
<%- include("partials/header.ejs") %>
<!-- HERO -->
<img src="/images/musum.jpg" class="img-fluid" alt="" />
<section class="container">
  <div class="text-center">
    <div>
      <h1 class="mt-4 mb-3">Welcome to The MET</h1>
      <h3>
        Travel around the world and across 5,000 years of history through
        490,000+ works of art
      </h3>
    </div>
  </div>
</section>

<!-- Visit Section -->
<section class="visit-section">
  <div class="times">
    <ul>
      <li><h2 id="visit">Visit us</h2></li>
      <hr class="visit-hr" />
      <div class="times-list fs-5">
        <li>Free entry</li>
        <li>Open daily 10am - 6pm</li>
        <li>1000 Fifth Avenue</li>
        <li>82nd Street</li>
        <li>New York, NY, 10028</li>
        <a
          href="https://www.google.com/maps/place/Metropolitan+Museum+of+Art/@40.7794366,-73.9658189,17z/data=!3m2!4b1!5s0x89c25896e10b5523:0x6c1168e355509b8b!4m6!3m5!1s0x89c25896f660c26f:0x3b2fa4f4b6c6a1fa!8m2!3d40.7794366!4d-73.963244!16zL20vMDljN2I?entry=ttu"
          target="_blank"
          class="btn btn-light"
          >Directions</a
        >
      </div>
    </ul>
  </div>

  <img src="/images/visit.jpg" class="visit-img" alt="" />
</section>

<!-- Art departments section -->
<section class="container mt-4">

    <h2>Browse the gallery</h2>

<div class="row">
        <div class="col-md-3"> <!-- Adjust column width based on your preference -->
            <div class="department-card" id="3">
                <img src="/images/American Decorative Arts.jpg" alt="picture of native american statue"width="200">
                <h4>American Decorative arts</h4>
            </div>
        </div>
        <div class="col-md-3"> <!-- Adjust column width based on your preference -->
            <div class="department-card" id="4">
                <img src="/images/arms and armor.jpg" alt="picture of Egyptian pharaoh coffin"width="200" >
                <h4>Arms and Armor</h4>
            </div>
        </div>
        <div class="col-md-3"> <!-- Adjust column width based on your preference -->
            <div class="department-card" id="6">
                <img src="/images/Arts of Africa.jpg" alt="picture of African masks" width="200">
                <h4>Arts of Africa, Oceania, and the Americas</h4>
            </div>
        </div>
        <div class="col-md-3"> <!-- Adjust column width based on your preference -->
            <div class="department-card" id="7">
                <img src="/images/Asian Art.jpg"  alt="statues of Buddha from Thailand" width="200">
                <h4>Asian Art</h4>
            </div>
        </div>
    </div>

</section>
<!-- <% if(locals.content){ %>
    <% content.filter(element => element.primaryImage).forEach(element => { %>
        <img src="<%= element.primaryImage %>"  width="200">
        <h3>
            <%= element.title %>
        </h3>
        <h4>
            <%= element.artistDisplayName %>
        </h4>
        <h4>            
            <%= element.artistDisplayBio %>
        </h4>
        <h4>
            <%= element.objectDate %>
            
        </h4>
        
        <% }); %>
        <% } %> -->


<%- include("partials/footer.ejs") %>
